{
  "attachments": [
    {
      "fields": [
        {
          "short": false,
          "value": "{{ .Group }}",
          "title": "Group"
        },
        {
          "short": true,
          "value": "{{ .Cluster }}",
          "title": "Cluster"
        },
        {
          "short": true,
          "value": "{{ .Result.TotalLag}}",
          "title": "Total Lag"
        },
        {
          "short": true,
          "value": " {{ .Start.Format "2006-01-02T15:04:05Z07:00" }}",
          "title": "Start"
        }
      ],
      "title": "A kafka consumer is lagging behind!",
      "color": "danger"
     }
  ]
}
