Subject: [Burrow] Kafka Consumer Lag Alert

The Kafka consumer groups you are monitoring are currently showing problems. The following groups are in a problem state (groups not listed are OK):

Cluster:  {{.Result.Cluster}}
Group:    {{.Result.Group}}
Status:   {{.Result.Status.String}}
Complete: {{.Result.Complete}}
Errors:   {{len .Result.Partitions}} partitions have problems
{{range .Result.Partitions}}          {{.Status.String}} {{.Topic}}:{{.Partition}} ({{.Start.Timestamp}}, {{.Start.Offset}}, {{.Start.Lag}}) -> ({{.End.Timestamp}}, {{.End.Offset}}, {{.End.Lag}})
{{end}}
